.Menu{
    font-family: 'Bangers', cursive;
    margin-top: 15%;
    margin-left: 20%;
}

.Logo{
    text-align: center;
    font-size: 50px;
    text-shadow: -2px 2px black;
}

.Link{
    font-size: 30px;
}